
      <div>
    
        <a href="/" class="btn btn-info" style="margin-top:5px;">Logout</a>

        <div class="container mt-5">
          <h4 style="margin-bottom:50px;" ><%= one.name %> Result</h4>
        </div>
        
        <div class="container col-md-5">
          <div>
              <table>
                <tr>
                  <td class="first-col">Roll No:</td>
                  <td><%= one.roll %></td>
                </tr>
        
                <tr>
                  <td class="first-col">Name:</td>
                  <td><%= one.name %></td>
                </tr>
        
                <tr>
                  <td class="first-col">DOB:</td>
                  <td><%= one.dob %></td>
                </tr>
        
                <tr>
                  <td class="first-col">Score:</td>
                  <td><%= one.score %></td>
                </tr>
              </table>
          </div>
        </div>
          
        
    </div>

